@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @apply lg:text-4xl text-2xl;
}
h2 {
  @apply lg:text-3xl text-xl;
}
h3 {
  @apply lg:text-2xl text-lg;
}
h4 {
  @apply lg:text-xl text-base;
}
h5 {
  @apply lg:text-lg text-sm;
}

a:active {
  @apply text-primary;
}
img {
  @apply rounded-lg;
}

.btn-primary {
  @apply px-2 py-1 bg-primary text-dark rounded-md lg:text-2xl text-lg shadow-md hover:bg-light hover:text-secondary border hover:border-primary;
}

.hero-content > * {
  @apply mb-4;
}
